<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %} 
        <br>
        <input type="text" name="username" placeholder="username">
        <br>
        <input type="email" name="email" placeholder="email">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <input type="submit" value="save">
     <a href="login" >LOGIN</a>
    </form>
    
</body>
</html> 